.parentDue{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    position: relative;
}
.parentDue ul{
    display: flex;
    flex-direction: row;
    list-style: none;
    font-family: 'Merriweather'; 
    color: #fff;
    line-height: 1;
    font-size: 20px;
    margin-top: 85px;
    margin-right: 35px;  
}

.parentDue li{
   padding-left: 54px;
}


.parentDue a:link,
.parentDue a:visited,
.parentDue a:hover,
.parentDue a:active{
    text-decoration: none;
    color: #fff;
}
