
.test_articolo p{
    
    color: #FFF;
    text-align: center;
    font-family: "Hoefler Text";
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

    padding-top: 52px;
    padding-bottom: 30px;
}

